.input-container {
  display: flex;
  align-items: center;
}
.input-container__label {
  flex: 0 0 10rem;
}
.input-container__input {
  padding: 1rem;
  margin-left: 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  flex: 1;
}
.input-container__input[type="button"] {
  margin-top: 1rem;
  margin-left: 0;
  font-weight: bold;
  transition: all 150ms;
}
.input-container__input[type="button"]:hover {
  background-color: #3a3979;
  color: #fffae3;
  transform: scale(1.05);
}
.input-container__input[type="button"]:active {
  background-color: #515099;
}